.body {
  margin-top: 160px;
  font-family: 'DM Sans', sans-serif;
  color: #192536;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 9007199254740991;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-top {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
}

.navbar-right-content-block {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
}

.navbar-cta-button {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  padding: 10px 20px 10px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #365ffe;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 0.9em;
  text-decoration: none;
}

.navbar-cta-button:hover {
  background-color: #1e43d1;
}

.navbar-phone-button {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #192536;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
}

.navbar-logo-content-block {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 4;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
}

.hero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  line-height: 1em;
  letter-spacing: -0.03em;
}

.heading.hero {
  margin-bottom: 40px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 60px;
}

.heading.features-list {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 26px;
}

.heading.section-heading {
  margin-bottom: 0px;
  color: #365ffe;
  font-size: 32px;
}

.heading.section-heading.inv {
  color: #fff;
}

.heading.faq-question {
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 500;
}

.heading.guide-card-heading {
  position: relative;
  margin-bottom: 0px;
  color: #fff;
  font-size: 52px;
}

.heading.profile-block-heading {
  margin-bottom: 10px;
  color: #192536;
  font-size: 40px;
  line-height: 1em;
  font-weight: 700;
}

.heading.content-card-1 {
  margin-bottom: 0px;
  font-size: 32px;
}

.heading.hero-cta-heading {
  margin-bottom: 40px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 32px;
}

.heading.article-hero {
  margin-bottom: 0px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 50px;
}

.heading.article-aside {
  margin-bottom: 0px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-bottom: 1px solid rgba(4, 28, 65, 0.07);
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
}

.heading.subhero {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 60px;
}

.heading.profile-block-heading-subpage {
  margin-bottom: 5px;
  color: #192536;
  font-size: 18px;
  line-height: 1em;
  font-weight: 700;
}

.heading.profile-block-heading-subpage {
  margin-bottom: 30px;
  color: #fff;
  font-size: 32px;
}

.heading.profile-block-heading-subpage.inv {
  color: #fff;
}

.heading.subpage-section-heading {
  margin-bottom: 0px;
  color: #365ffe;
  font-size: 32px;
}

.heading.subpage-section-heading.inv {
  color: #fff;
}

.heading.process {
  margin-bottom: 20px;
  font-size: 26px;
}

.heading.contact {
  margin-bottom: 40px;
  font-size: 32px;
}

.heading.team-member-name {
  margin-bottom: 20px;
}

.hero-tagline {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 18px;
  line-height: 1.25em;
  font-weight: 400;
}

.navbar-cta-button-icon {
  width: 32px;
  margin-left: 10px;
}

.navbar-phone-button-icon {
  width: 16px;
  margin-right: 10px;
}

.section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.cut {
  margin-bottom: 160px;
  padding-top: 80px;
  padding-bottom: 1px;
}

.section.lead {
  background-color: #edf0f5;
  background-image: none;
  background-size: auto;
}

.section.no-pad {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section.article-page {
  padding-top: 200px;
  padding-bottom: 60px;
}

.section.subhero {
  padding-top: 120px;
  padding-bottom: 120px;
}

.paragraph {
  margin-bottom: 0px;
}

.paragraph.s {
  color: #8692a5;
  font-size: 16px;
  line-height: 1.35em;
  font-weight: 400;
}

.paragraph.lead {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 28px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0em;
}

.paragraph.profile {
  color: #8692a5;
  font-size: 22px;
  line-height: 1.5em;
}

.paragraph.on-blue {
  color: #e0e7ff;
}

.paragraph.profile-subpage {
  max-width: 100%;
  margin-bottom: 0px;
  color: #b0c1ff;
  font-size: 18px;
  line-height: 1.5em;
}

.paragraph.l {
  font-size: 24px;
  line-height: 1.5em;
}

.paragraph.subpage-lead {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 28px;
  line-height: 1.5em;
  text-align: left;
  letter-spacing: 0em;
}

.features-list-block {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.features-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 24px;
  font-weight: 500;
}

.list-bullet-1 {
  width: 28px;
  margin-right: 10px;
}

.features-list-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-cards-1 {
  display: -ms-grid;
  display: grid;
  margin-bottom: -160px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content-cards-1-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #365ffe;
  color: #fff;
}

.content-cards-1-icon {
  width: 50px;
  margin-bottom: 40px;
}

.section-heading-block {
  margin-bottom: 80px;
}

.faq-item {
  border-bottom: 1px solid rgba(4, 28, 65, 0.07);
}

.faq-heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  cursor: pointer;
}

.faq-heading-wrapper:hover {
  color: #365ffe;
}

.faq-content-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.faq-content-envelope {
  background-color: rgba(25, 37, 54, 0.05);
}

.faq-icon {
  width: 22px;
}

.footer-sitemap-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-right: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-decoration: none;
}

.footer-sitemap-link {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #8692a5;
  font-size: 14px;
  line-height: 1.25em;
  font-weight: 400;
  text-decoration: none;
}

.footer-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-sitemap-links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.footer-section {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 160px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(4, 28, 65, 0.07);
  background-color: #edf0f5;
}

.footer-logo-link {
  width: auto;
  margin-bottom: 40px;
  text-decoration: none;
}

.footer-content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-company-block {
  margin-right: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-address-text {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5em;
}

.footer-address-link {
  color: #365ffe;
  font-weight: 700;
  text-decoration: none;
}

.footer-qualifications {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-qualification-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 3px;
  border-color: #365ffe;
  color: #365ffe;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 0em;
  cursor: default;
}

.footer-qualification-icon {
  width: 26px;
  margin-top: 2px;
  margin-right: 10px;
}

.content-guide {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #365ffe;
  text-decoration: none;
}

.text-button-icon {
  width: 16px;
  margin-right: 10px;
}

.guide-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-bottom {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid rgba(4, 28, 65, 0.07);
  border-bottom: 1px solid rgba(4, 28, 65, 0.07);
  background-color: #edf0f5;
}

.navbar-main-menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid rgba(4, 28, 65, 0.07);
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  font-family: 'Bebas Neue', sans-serif;
  color: #8692a5;
  font-size: 22px;
  line-height: 1em;
  font-weight: 400;
  text-decoration: none;
}

.navbar-main-menu-item:hover {
  background-color: #d9dee6;
  color: #192536;
}

.navbar-main-menu {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.navbar-secondary-menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #b2b9c3;
  font-size: 12px;
  line-height: 1em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-secondary-menu-item:hover {
  color: #8692a5;
}

.navbar-secondary-menu {
  display: -ms-grid;
  display: grid;
  height: 100%;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.profile-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #edf0f5;
}

.profile-block-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-block-text-wrapper {
  padding: 80px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
}

.image-absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.bg-image-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  overflow: hidden;
}

.bg-image-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;
  background-color: rgba(25, 37, 54, 0.5);
}

.text-block {
  padding-top: 5px;
}

.hero-cta {
  position: relative;
  z-index: 8;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hero-cta-column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.image {
  width: 100px;
  margin-bottom: 40px;
}

.content-cards-1-top-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-cards-1-heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.full-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.13);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}

.full-button:hover {
  background-color: rgba(0, 0, 0, 0.26);
}

.full-button-icon {
  width: 22px;
  margin-right: 10px;
}

.image-2 {
  width: 200px;
}

.footer-logo {
  width: 150px;
}

.div-block {
  overflow: hidden;
  background-color: transparent;
}

.guide-card-content {
  position: relative;
  z-index: 3;
  padding-top: 14vw;
  padding-right: 0px;
  padding-bottom: 40px;
}

.guide-card-headline-wrapper {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.guide-card-icon {
  width: 12px;
}

.guide-card-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #365ffe;
}

.small-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(4, 28, 65, 0.07);
  border-radius: 30px;
  background-color: #fff;
  color: #192536;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.profile-block-title {
  margin-bottom: 40px;
  color: #8692a5;
  line-height: 1.15em;
  font-style: italic;
}

.lead-bold {
  font-weight: 700;
}

.profile-bock-image-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.lead-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-divider {
  width: 120px;
  height: 2px;
  background-color: #fff;
}

.article-hero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.rich-text {
  width: 100%;
  color: #000;
  letter-spacing: 0.02em;
}

.rich-text h4 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.25em;
}

.rich-text p {
  margin-bottom: 40px;
}

.rich-text figure {
  margin-bottom: 40px;
}

.rich-text a {
  color: #365ffe;
  font-weight: 700;
}

.rich-text a:hover {
  border-bottom-color: rgba(51, 203, 240, 0);
}

.rich-text h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.25em;
}

.rich-text li {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  color: #000;
  font-weight: 300;
}

.rich-text h3 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 1.25em;
}

.rich-text ul {
  margin-bottom: 40px;
  padding-left: 18px;
}

.rich-text ol {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-left: 80px;
}

.rich-text h5 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.25em;
}

.rich-text h6 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.rich-text h1 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1.25em;
}

.rich-text strong {
  color: #000;
  font-weight: 600;
}

.rich-text blockquote {
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 0px 0px 0px 30px;
  border-left-width: 2px;
  border-left-color: #e8e8e8;
  font-size: 22px;
  line-height: 1.5em;
  font-weight: 500;
}

.rich-text figcaption {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.25em;
}

.article-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 320px;
  grid-template-columns: 1fr 320px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.article-aside-block {
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(4, 28, 65, 0.07);
  background-color: #edf0f5;
}

.article-aside-link-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(4, 28, 65, 0.07);
  color: #192536;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  text-decoration: none;
}

.article-aside-link-item-icon {
  width: 12px;
  margin-right: 15px;
}

.article-review-item {
  padding: 30px;
  border-bottom: 1px solid rgba(4, 28, 65, 0.07);
}

.article-review-person-name {
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
}

.article-review-person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-review-item-text {
  font-size: 14px;
  line-height: 1.5em;
}

.article-review-person-title {
  color: #8692a5;
  font-size: 14px;
  line-height: 1em;
}

.image-3 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.breadcrumb-section {
  border-bottom: 1px solid rgba(4, 28, 65, 0.07);
  background-color: #edf0f5;
}

.breadcrumb-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumb-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #192536;
  font-size: 14px;
  line-height: 1em;
  text-decoration: none;
}

.breadcrumb-item.home {
  color: #192536;
  font-weight: 700;
}

.breadcrumb-icon {
  width: 16px;
  margin-right: 20px;
  opacity: 0.2;
}

.article-divider {
  width: 80px;
  height: 2px;
  margin-top: 40px;
  background-color: #fff;
}

.subhero-divider {
  width: 80px;
  height: 2px;
  background-color: #fff;
}

.subhero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.service-lead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.service-lead-icon {
  width: 60px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.profile-block-subpage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #365ffe;
}

.profile-bock-image-wrapper-subpage {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

.profile-block-image-subpage {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-block-text-wrapper-subpage {
  padding: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.profile-block-title-subpage {
  margin-bottom: 0px;
  color: #8692a5;
  font-size: 14px;
  line-height: 1em;
  font-style: italic;
}

.profile-subpage-bold {
  color: #fff;
}

.service-summary-block {
  display: -ms-grid;
  display: grid;
  margin-bottom: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.bg-image-wrapper-copy {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  overflow: hidden;
}

.service-image {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.service-contact-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  padding: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(4, 28, 65, 0.07);
}

.service-contact-block-text {
  margin-bottom: 0px;
}

.service-contact-block-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.service-contact-block-icon {
  width: 32px;
  margin-right: 20px;
}

.button {
  margin-top: 20px;
  padding: 10px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #365ffe;
  background-color: #365ffe;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.button.no-margin {
  margin-top: 0px;
  line-height: 1em;
  text-align: center;
}

.features-list {
  margin-top: 40px;
}

.features-list-icon {
  width: 22px;
  margin-right: 20px;
}

.process-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(4, 28, 65, 0.07);
}

.process-counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #365ffe;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 0.9em;
  font-weight: 700;
}

.process-text {
  color: #b2b9c3;
}

}.alert{padding:15px}
.alert.gray{background-color:#f5f5f5;border:1px solid #e5e5e5;color:#404040}
.alert.gray a{color:#404040}
.alert.red{background-color:#fee;border:1px solid #ffabab;color:#c00}
.alert.red a{color:#c00}.alert.green{background-color:#e9ffdb;border:1px solid #6cb142;color:#4e8c28}
.alert.green a{color:#4e8c28}
{
	
.contact-block {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.contact-text {
  margin-bottom: 20px;
}

.form-1-message-text {
  color: #45da17;
  font-size: 14px;
  font-weight: 400;
}

.form-1-message-text.error {
  color: #da171b;
}

.form-1-message {
  padding: 20px 40px;
  background-color: rgba(69, 218, 23, 0.2);
  text-align: center;
}

.form-1-message.error {
  margin-top: 20px;
  border-color: #da171b;
  background-color: rgba(218, 23, 27, 0.2);
}

.form-1-block {
  width: 100%;
  margin-bottom: 0px;
}

.form-submit {
  position: relative;
  z-index: 2;
  height: 50px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #365ffe;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-weight: 400;
}

.form-submit:hover {
  background-color: #1e43d1;
}

.form-field-label-1 {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1em;
  font-weight: 700;
}

.form-field-1 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60px;
  margin-bottom: 40px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(4, 28, 65, 0.07);
  background-color: #fff;
  -webkit-transition: border 400ms ease;
  transition: border 400ms ease;
  color: #8692a5;
  font-size: 18px;
  line-height: 1.25em;
}

.form-field-1:hover {
  border-color: rgba(4, 28, 65, 0.2);
  color: #192536;
}

.form-field-1:focus {
  border-color: #365ffe;
}

.form-field-1::-webkit-input-placeholder {
  color: #8692a5;
}

.form-field-1:-ms-input-placeholder {
  color: #8692a5;
}

.form-field-1::-ms-input-placeholder {
  color: #8692a5;
}

.form-field-1::placeholder {
  color: #8692a5;
}

.form-field-1.form-field-1-text {
  height: auto;
  max-height: 600px;
  min-height: 200px;
}

.form-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile-menu {
  position: relative;
  z-index: 1;
  display: none;
  width: 70px;
  height: 80px;
  margin-left: 20px;
  padding: 0px;
  cursor: pointer;
}

.featured-list {
  margin-top: 40px;
}

.featured-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.featured-list-icon {
  width: 22px;
  margin-right: 20px;
}

.mobile-menu-panel {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.mobile-menu-button {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-open-icon {
  width: 20px;
}

.link-block {
  display: block;
}

.mobile-main-menu {
  width: 100%;
  border-top: 1px solid rgba(4, 28, 65, 0.07);
  background-color: #edf0f5;
}

.mobile-secondary-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile-main-menu-item {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(4, 28, 65, 0.07);
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Bebas Neue', sans-serif;
  color: #8692a5;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
}

.mobile-main-menu-item:hover {
  background-color: #e1e5ec;
  color: #192536;
}

.mobile-secondary-menu-item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #b2b9c3;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.mobile-secondary-menu-item:hover {
  color: #8692a5;
}

.mobile-cta-button {
  display: none;
  margin-top: 40px;
  padding: 10px 20px 10px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #365ffe;
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 0.9em;
  text-decoration: none;
}

.mobile-cta-button-icon {
  width: 26px;
  margin-left: 10px;
}

.menu-close-icon {
  width: 20px;
}

.mobile-menu-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-color: #fff;
}

.mobile-menu-links-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
}

.address {
  font-style: normal;
}

.team-content {
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.team-members {
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.subpage-lead-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.subpage-lead-icon {
  width: 80px;
  margin-left: 80px;
}

.team-member {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(4, 28, 65, 0.07);
}

.team-member-image {
  width: 200px;
  height: 200px;
  margin-right: 40px;
  border-style: solid;
  border-width: 20px;
  border-color: rgba(4, 28, 65, 0.07);
  border-radius: 50%;
}

html.w-mod-js *[data-ix="faq-init"] {
  height: 0px;
}

html.w-mod-js *[data-ix="du"] {
  -webkit-transform: translate(0px, 40px);
  -ms-transform: translate(0px, 40px);
  transform: translate(0px, 40px);
}

html.w-mod-js *[data-ix="du-s"] {
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="ud"] {
  -webkit-transform: translate(0px, -40px);
  -ms-transform: translate(0px, -40px);
  transform: translate(0px, -40px);
}

html.w-mod-js *[data-ix="rl"] {
  -webkit-transform: translate(40px, 0px);
  -ms-transform: translate(40px, 0px);
  transform: translate(40px, 0px);
}

html.w-mod-js *[data-ix="fade"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="fade-delay-1"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="scale"] {
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="scale-rev"] {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

@media screen and (max-width: 991px) {
  .body {
    margin-top: 80px;
  }
  .navbar-cta-button {
    padding-left: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 16px;
    text-align: center;
  }
  .navbar-phone-button {
    font-size: 22px;
  }
  .navbar-cta-button-icon {
    display: none;
    width: 24px;
  }
  .features-list-block {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .content-cards-1 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .content-cards-1-icon {
    margin-right: 20px;
    margin-bottom: 0px;
  }
  .footer-sitemap-block {
    margin-top: 80px;
    margin-right: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .footer-content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-section {
    padding-bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer-logo-link {
    margin-right: 40px;
  }
  .footer-content-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-company-block {
    margin-right: 0px;
  }
  .footer-qualifications {
    margin-top: 80px;
  }
  .content-guide {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .navbar-bottom {
    display: none;
  }
  .navbar-secondary-menu {
    display: none;
  }
  .profile-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content-cards-1-heading-wrapper {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .guide-card-content {
    padding-top: 40vw;
  }
  .profile-bock-image-wrapper {
    width: 100%;
    height: 80vw;
  }
  .rich-text {
    position: relative;
    max-width: 100%;
  }
  .article-content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .profile-block-subpage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile-bock-image-wrapper-subpage {
    width: 100%;
    height: 80vw;
  }
  .service-summary-block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .process-counter {
    margin-right: 40px;
  }
  .contact-block {
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu-panel {
    display: none;
  }
  .subpage-lead-icon {
    margin-left: 40px;
  }
  .team-member-image {
    width: 160px;
    height: 160px;
    margin-right: 40px;
    border-width: 15px;
  }
}

@media screen and (max-width: 767px) {
  .body {
    margin-top: 60px;
    font-size: 16px;
  }
  .navbar-top {
    height: 60px;
    padding-left: 20px;
  }
  .navbar-cta-button {
    margin-left: 10px;
    padding: 5px 15px;
    font-size: 12px;
  }
  .navbar-phone-button {
    font-size: 16px;
  }
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .heading.hero {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .heading.features-list {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .heading.section-heading {
    font-size: 24px;
  }
  .heading.faq-question {
    font-size: 18px;
  }
  .heading.guide-card-heading {
    font-size: 30px;
  }
  .heading.profile-block-heading {
    margin-bottom: 5px;
    font-size: 30px;
  }
  .heading.content-card-1 {
    font-size: 22px;
  }
  .heading.article-hero {
    font-size: 28px;
  }
  .heading.subhero {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  .heading.profile-block-heading-subpage {
    font-size: 22px;
  }
  .heading.process {
    font-size: 22px;
  }
  .heading.contact {
    font-size: 22px;
  }
  .heading.team-member-name {
    font-size: 30px;
  }
  .hero-tagline {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .navbar-cta-button-icon {
    display: none;
  }
  .navbar-phone-button-icon {
    width: 12px;
    margin-right: 5px;
  }
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section.lead {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section.hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .section.article-page {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .section.article-body {
    padding-top: 40px;
  }
  .section.subhero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .paragraph.s {
    font-size: 14px;
  }
  .paragraph.lead {
    font-size: 20px;
  }
  .paragraph.profile {
    font-size: 18px;
  }
  .paragraph.l {
    font-size: 18px;
  }
  .paragraph.subpage-lead {
    font-size: 20px;
  }
  .features-list-block {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .list-bullet-1 {
    width: 20px;
    margin-top: 3px;
  }
  .content-cards-1-icon {
    width: 30px;
    margin-right: 15px;
  }
  .section-heading-block {
    margin-bottom: 40px;
  }
  .faq-heading-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .faq-content-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .faq-icon {
    width: 16px;
  }
  .footer-sitemap-block {
    margin-top: 40px;
  }
  .footer-sitemap-link {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .footer-qualifications {
    margin-top: 40px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .footer-qualification-item {
    padding: 5px;
    font-size: 12px;
  }
  .footer-qualification-icon {
    width: 18px;
  }
  .profile-block {
    margin-bottom: 60px;
  }
  .profile-block-text-wrapper {
    padding: 40px;
  }
  .footer-container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .image {
    width: 60px;
    margin-bottom: 20px;
  }
  .content-cards-1-heading-wrapper {
    margin-bottom: 20px;
  }
  .full-button {
    height: 60px;
    font-size: 18px;
  }
  .full-button-icon {
    width: 16px;
  }
  .image-2 {
    width: 120px;
  }
  .guide-card-icon {
    width: 10px;
  }
  .guide-card-icon-wrapper {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  .small-button {
    height: 30px;
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 10px;
  }
  .profile-block-title {
    margin-bottom: 20px;
  }
  .hero-divider {
    width: 60px;
  }
  .rich-text h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .rich-text p {
    margin-bottom: 10px;
  }
  .rich-text figure {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .rich-text h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .rich-text h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .rich-text ol {
    padding-left: 60px;
  }
  .rich-text h5 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .rich-text h6 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .rich-text h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .rich-text blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 18px;
  }
  .rich-text figcaption {
    font-size: 14px;
  }
  .breadcrumb-item {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 12px;
  }
  .breadcrumb-icon {
    width: 12px;
    margin-right: 10px;
  }
  .article-divider {
    width: 50px;
    margin-top: 20px;
  }
  .subhero-divider {
    width: 60px;
  }
  .service-summary-block {
    margin-bottom: 40px;
    grid-row-gap: 40px;
  }
  .service-contact-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .service-contact-block-text-wrapper {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .service-contact-block-icon {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .process-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .process-counter {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    margin-bottom: 40px;
    font-size: 20px;
  }
  .contact-block {
    grid-row-gap: 60px;
  }
  .form-1-message {
    padding: 20px;
  }
  .form-submit {
    height: 45px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .form-field-label-1 {
    font-size: 16px;
  }
  .form-field-1 {
    height: 45px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .mobile-menu {
    width: 50px;
    height: 60px;
    margin-left: 10px;
  }
  .featured-list-item {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .featured-list-icon {
    width: 16px;
    margin-right: 10px;
  }
  .mobile-menu-panel {
    padding-top: 60px;
  }
  .menu-open-icon {
    width: 16px;
  }
  .mobile-secondary-menu {
    margin-top: 10px;
  }
  .mobile-main-menu-item {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
  }
  .mobile-secondary-menu-item {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
  }
  .mobile-cta-button {
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 20px;
    font-size: 16px;
  }
  .mobile-cta-button-icon {
    width: 20px;
  }
  .menu-close-icon {
    width: 16px;
  }
  .subpage-lead-wrapper {
    margin-bottom: 60px;
  }
  .subpage-lead-icon {
    width: 60px;
  }
  .team-member {
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
  .team-member-image {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-width: 10px;
  }
}

@media screen and (max-width: 479px) {
  .navbar-cta-button {
    display: none;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading.subhero {
    font-size: 28px;
  }
  .profile-block-text-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .content-cards-1-top-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .full-button {
    padding-right: 20px;
    padding-left: 20px;
  }
  .guide-card-content {
    padding-top: 60vw;
  }
  .rich-text h4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .rich-text ol {
    padding-left: 55px;
  }
  .rich-text h1 {
    font-size: 22px;
  }
  .rich-text blockquote {
    font-size: 18px;
  }
  .profile-block-text-wrapper-subpage {
    padding-right: 20px;
    padding-left: 20px;
  }
  .service-contact-block {
    padding-right: 20px;
    padding-left: 20px;
  }
  .process-counter {
    margin-bottom: 20px;
  }
  .mobile-cta-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .subpage-lead-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .subpage-lead-icon {
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .team-member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .team-member-image {
    width: 160px;
    height: 160px;
    margin-right: 0px;
    margin-bottom: 20px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

#w-node-27d79555e5fe-9555e5f2 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

